@model CarsMakeModel
@{
    ViewData["Title"] = "All cars";
}
<h2>All cars</h2>
<a href="/cars/add" class="btn btn-success m-1">
    <strong>+</strong> Add car
</a>
<table class="table">
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Traveled distance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cars)
        {
            <tr>
                <td>@item.Make</td>
                <td>@item.Model</td>
                <td>@item.TravlledDistance</td>
            </tr>
        }
    </tbody>
</table>