@model SingleSupplierModel
@{
    ViewData["Title"] = "SupplierToDelete";
}
<h2>SupplierToDelete</h2>
<form method="post">
    <div class="form-group row">
        <label class="col-form-label" for="name">Name</label>
        <input readonly type="text" name="Name" value="@Model.NewName" class="form-control" />
    </div>

    <div class="form-group row">
        <label class="col-form-label" for="isImporter">Importer</label>
        <input type="checkbox" id="IsImporter" name="IsImporter" value="true" class="form-control" />
        <input type="hidden" name="IsImporter" value="false" class="form-control" />
    </div>

    <input type="submit" class="btn btn-lg btn-block btn-danger" value="DELETE" />
</form>