@model SuppliersModel
@{
    ViewData["Title"] = $"{Model.Type} Suppliers";
}
<h2>@ViewData["Title"]</h2>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Parts</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Suppliers)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.TotalParts</td>
            </tr>
            }
        </tbody>
    </table>