<div class="row">
    <div class="col wide">{{date}}</div>
    <div class="col wide">{{items}}</div>
    <div class="col">{{total}}</div>
    <div class="col">
        <a href="#/details">Details</a>
    </div>
</div>