{{> header}}

<div class="content">
    {{> navigation}}
    <section id="viewMyPosts">
        <div class="post post-content">
            <h1>Your Posts</h1>
        </div>
        <div class="posts">
            {{#each posts}}
                {{> post}}
            {{else}}
                <span>No posts yet.</span>
            {{/each}}
        </div>
    </section>
</div>
{{> footer}}