<header class="clearfix" id="profile">
    <div id="cashier">
        <span>Cashier: </span>
        <a href="#">{{username}}</a>
    </div>
    {{#if isAuth}}
        {{> navigation}}
    {{/if}}
</header>