.red {
    background-color: lightgray;
    border: 2px solid red;
    border-radius: 10px;
    width: 150px;
    text-align: center;
}

.green {
    background-color: lightgray;
    border: 2px solid green;
    border-radius: 10px;
    width: 150px;
    text-align: center;
}

.blue {
    background-color: lightgray;
    border: 2px solid blue;
    border-radius: 10px;
    width: 150px;
    text-align: center;
}

.text {
    text-align: center;
}
