@model int
@{
    ViewData["Title"] = "Delete Part";
}

<h2>@ViewData["Title"]</h2>
<a href="/parts/all" class="btn btn-default">Back</a>
<a href="/parts/destory/@Model" class="btn btn-danger">Confirm Delete</a>